<%= provide(:title, 'Barbell Balm') %>
<div class="mobile">
<div class="top">
    <div class="jumbotron">
        <h1>Never Tear a <br>Callus Again</h1>
        <h3>$10.00</h3>
    </div>
    <div class="why">
        <h1>Why Hands Tear</h1>
        <ul>
            <li>When you train, your hands lose all their moisture and end up dry</li>
            <li>Once dry, your palms aren't able to flex with your grip</li>
            <li>With no give in your skin, all it takes is one pull and you get a nice big RIP!</li>
        </ul>
        <%= link_to "Order Now", new_charge_path, class: "button" %>
    </div>
</div>
<div class="description">
    <ul class>
        <li>
            <h1>Heal and Repair</h1>
            <p>Barbell Balm will heal any tears you have no matter how severe. It'll patch up all your rips and fill your hands with moisture and vitamins.</p>
        </li>
        <li> 
            <h1>Never Tear</h1>
            <p>Barbell Balm continues to strengthen your hands by adding vitamins, minerals, and a protective layer over top to keep moisture in your hands.</p>
        </li>
    </ul>
</div>
<div class="testimonials">
    <h1>Testimonials</h1>
    <ul>
        <li>"I used to tear calluses once or twice a week, but since I started using Barbell Balm a few months ago I haven't had any rips." 
        <br><span class="quoteperson">-Caed, Olympic Weightlifter</span></li>
    </ul>
</div>
</div>