<style type="text/css">
    html body {
        background-color:#005386;
    }
    .message {
        width:50%;
        font-family:sans-serif;
        margin:0 auto;
        color:#e3dcc9;
        /*background-color:white;*/
        padding:10px;
        font-size:20px;
    }
</style>

<div class="message">
    <p>Dear <%= @name %>,</p><br>
    <p>All the magical ingredients that go into your Barbell Balm have been hand-picked from the hanging gardens of Babylon. 
    They were mixed by a master Dutch craftsman named Lorin. Your jar has been carefully molded from dirt and sand found only 
    at the bottom of Lake Loch Ness. The labels were hand pressed by a secret publishing house that I cannot reveal the location 
    of or we would both be hunted and murdered by the Yakuza. Your finished tube of Barbell Balm was blessed by the Strength Gods 
    and carefully placed into a box crafted by Monks from the Church of Iron. A flock of messenger falcons arrived to deliver your 
    order to the nearest post office. Everyone is celebrating the successful fulfillment of your desires with a 20 minute amrap of 
    30 deadlifts and 100 double unders. It’s been quite the day. but we are excited for your return to stronghandsbalm.com!
    </p>
</div>    